<div class="container">
    <h1 class="text-center">{{foto.titulo}}</h1>
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <form class="row" [formGroup]="meuForm" (submit)="cadastrar($event)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input class="form-control" name="titulo" [(ngModel)]="foto.titulo" autocomplete="off" formControlName="titulo">
            
                <div *ngIf="!meuForm.controls.titulo.valid">
                    <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                        Título obrigatório
                    </span>
                    <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                        Título deve ter no mínimo 4 caracteres
                    </span>     
                </div>
                
            </div>
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" name="url" [(ngModel)]="foto.url" autocomplete="off" formControlName="url">
                <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
                    URL obrigatória
                </span> 
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" name="descricao" [(ngModel)]="foto.descricao" formControlName="descricao" autocomplete="off">
                </textarea>
            </div>
                <botao 
                    nome="Salvar"   
                    tipo="submit" 
                    estilo="btn-primary" 
                    [desabilitado]="!meuForm.valid">
                </botao>
            <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
            <hr>
        </div>

        <div class="col-md-6">
            <foto url="{{foto.url}}" titulo="{{foto.titulo}}">
            </foto>
        </div>
    </form>
</div>